@import 'node_modules/@angular/material/theming';
@import 'palettes';

@include mat-core();

$financial-assistant-primary: mat-palette($financial-assistant-dark);
$financial-assistant-accent: mat-palette($financial-assistant-yellow);
$financial-assistant-warn: mat-palette($mat-red);

$financial-assistant-theme: mat-light-theme((
  color: (
    primary: $financial-assistant-primary,
    accent: $financial-assistant-accent,
    warn: $financial-assistant-warn,
  )
));

@include angular-material-theme($financial-assistant-theme);

