$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$dark-secondary-text: rgba(black, 0.56);

$financial-assistant-dark: (
  100: #5d5c67,
  500: #33333d,
  700: #0c0c17,
  contrast: (
    100: $dark-primary-text,
    500: $light-primary-text,
    700: $light-primary-text
  )
);

$financial-assistant-yellow: (
  100: #ffff66,
  500: #ffdd2d,
  700: #c8ac00,
  contrast: (
    100: $dark-secondary-text,
    500: $dark-secondary-text,
    700: $dark-secondary-text
  )
);
